{% extends 'base.html'%}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post">
{% csrf_token %}
  <div class="form-group">
	  {{form.username.errors}}
	  <label for="id_{{form.username.name}}" class="col-sm-3 control-label">{{form.username.label}}</label>
	  <div class="col-sm-8">
	    {{ form.username }}
	  </div>
  </div>

  <div class="form-group">
	  {{ form.password.errors}}
	  <label for="id_{{form.password.name}}" class="col-sm-3 control-label">{{ form.password.label}}</label>
	  <div class="col-sm-8">
	    {{ form.password }}
	  </div>
  </div>

  <input type="submit" value="login"/>
{% endblock %}