{% extends 'index.html' %}

{% block content %}
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="form-group">
	  {{form.phone_number1.errors}}
	  <label for="id_{{form.phone_number1.name}}" class="col-sm-3 control-label">{{form.phone_number1.label}}</label>
	  <div class="col-sm-8">
	    {{ form.phone_number1 }}
	  </div>
	</div>

    <div class="form-group">
	  {{form.phone_number2.errors}}
	  <label for="id_{{form.phone_number2.name}}" class="col-sm-3 control-label">{{form.phone_number2.label}}</label>
	  <div class="col-sm-8">
	    {{ form.phone_number2 }}
	  </div>
	</div>

    <div class="form-group">
	  {{form.email.errors}}
	  <label for="id_{{form.email.name}}" class="col-sm-3 control-label">{{form.email.label}}</label>
	  <div class="col-sm-8">
	    {{ form.email }}
	  </div>
	</div>

    <input type="submit" value="войти">
</form>


{% endblock %}