{% extends 'base.html'%}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{form.username.errors}}
        <label for="id_{{form.username.name}}" class="col-sm-3 control-label">{{form.username.label}}</label>
        <div class="col-sm-8">
        {{ form.username }}
        </div>
    </div>

    <div class="form-group">
	  {{personal_form.first_name.errors}}
	  <label for="id_{{personal_form.first_name.name}}" class="col-sm-3 control-label">{{personal_form.first_name.label}}</label>
	  <div class="col-sm-8">
	    {{ personal_form.first_name }}
	  </div>
	</div>

  <div class="form-group">
	  {{personal_form.last_name.errors}}
	  <label for="id_{{personal_form.last_name.name}}" class="col-sm-3 control-label">{{personal_form.last_name.label}}</label>
	  <div class="col-sm-8">
	    {{ personal_form.last_name }}
	  </div>
	</div>

  <div class="form-group">
	  {{personal_form.middle_name.errors}}
	  <label for="id_{{personal_form.middle_name.name}}" class="col-sm-3 control-label">{{personal_form.middle_name.label}}</label>
	  <div class="col-sm-8">
	    {{ personal_form.middle_name }}
	  </div>
	</div>

    <div class="form-group">
        {{form.email.errors}}
        <label for="id_{{form.email.name}}" class="col-sm-3 control-label">{{form.email.label}}</label>
        <div class="col-sm-8">
        {{ form.email }}
        </div>
    </div>

  <input type="submit" value="login"/>
{% endblock %}