{% extends "base.html" %}

{% block content %}
<h1>Texnomart Home</h1>
{% if user.is_authenticated %}
Вы авторизованы
{% else %}
Вы не авторизованы
{% endif %}
{{user}}

  <p>Welcome to <em>Texnomart Test Page</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

<a href="{% url 'clients:registration-contacts' %}">Регистрация</a>
<a href="{% url 'clients:login' %}">Войти</a>
<a href="{% url 'clients:logout' %}">Выйти</a>

{% endblock %}
